<?xml version="1.0" encoding="utf-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 注册services -->
	<bean id = "myStudentService" class="com.lj.service.StudentServiceImpl">
		<property name="dao" ref="IStudentDAO"/>
	</bean>	
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" > 
		<property name="sqlSessionFactoryBeanName" value="mySqlSessionFactory"/>
		<property name="basePackage" value="com.lj.dao"/>
	</bean>
	
	<bean id = "mySqlSessionFactory" class ="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis.xml"/>
		<property name="dataSource" ref="myDataSource"/>
	</bean>
	
	
	<!-- 注册dataSources	 -->
	<bean id = "myDataSource" class = "com.mchange.v2.c3p0.ComboPooledDataSource">
 			<property name="driverClass" value="com.mysql.jdbc.Driver"/>
 			<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/mybatis"/>
 			<property name="user" value="root"/>
 			<property name="password" value="123456"/>
	</bean>
	
<!-- 	
	<bean id = "myStudentService" class="com.lj.service.StudentServiceImpl">
		<property name="dao" ref="myStudentDao"/>
	</bean>	
	
	<bean id = "mySqlSessionFactory" class ="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis.xml"/>
		<property name="dataSource" ref="myDataSource"/>
	</bean>
	
	<bean id ="myStudentDao" class="org.mybatis.spring.mapper.MapperFactoryBean" > 
		<property name="sqlSessionFactory" ref="mySqlSessionFactory"/>
		<property name="mapperInterface" value="com.lj.dao.IStudentDAO"/>
	</bean> -->
	
</beans>