<?xml version="1.0" encoding="utf-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
		<!-- 注册student -->
	<bean id = "myStudent" class="com.lj.di08.Student" autowire="byType">
		<property name="name" value="wh"></property>
		<property name="age" value="27"></property>
	</bean>
	
	<!-- 注册school -->
	<!-- 域属行自动注入 用autowire  byType方式会从容器中查找与实体类中的域属行存在 is-a 关系的 （包括继承 所以当容器中存在多个相同的bean或者 继承关系的bean都是无法使用bytype自动注入方式）bean并自动注入到域属行中 -->
	<bean  class="com.lj.di08.School" >
		<property name="name" value="DH unvisitery"></property>
	</bean>
</beans>